
body {
    background-color: #f4f4f9; 
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


header {
    background-color: #0d47a1;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
}


.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    max-width: 100%;
    width: 300px;
    height: auto;
    border-radius: 50%; 
    border: 5px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto; 
}


h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #1a237e;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
    margin-top: 30px;
}

p {
    margin-bottom: 20px;
}


ol, ul {
    margin-bottom: 20px;
    padding-left: 20px;
}

ol li {
    font-weight: bold;
}

ul {
    list-style-type: square; 
}


.link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
    margin-left: 20px;
}

.link:hover {
    color: #0056b3;
    text-decoration: none;
}

.learn:hover {
    text-decoration: none;
}

.btn {
    background-color:#2e60a9;
    border-color: #2e60a9; 
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #1329b7;
    transform: scale(1.03); 
    text-decoration: none;
}